:root {
  --background: 60 25.0000% 98.4314%;
  --foreground: 205.7143 13.2075% 10.3922%;
  --card: 0 0% 100%;
  --card-foreground: 205.7143 13.2075% 10.3922%;
  --popover: 0 0% 100%;
  --popover-foreground: 205.7143 13.2075% 10.3922%;
  --primary: 343.9831 100% 46.2745%;
  --primary-foreground: 0 0% 100%;
  --secondary: 192.3913 100% 36.0784%;
  --secondary-foreground: 0 0% 100%;
  --muted: 60 18.7500% 93.7255%;
  --muted-foreground: 207.2727 6.4327% 33.5294%;
  --accent: 85.8182 100% 32.3529%;
  --accent-foreground: 0 0% 100%;
  --destructive: 338.1457 134.5266% 33.1948%;
  --destructive-foreground: 0 0% 100%;
  --border: 60 14.7541% 88.0392%;
  --input: 60 14.7541% 88.0392%;
  --ring: 347.0192 100% 40.7843%;
  --chart-1: 338.0102 136.7402% 39.1734%;
  --chart-2: 192.3913 100% 36.0784%;
  --chart-3: 85.8182 100% 32.3529%;
  --chart-4: 30.1333 100% 44.1176%;
  --chart-5: 247.7647 68% 50.9804%;
  --sidebar: 60 16.6667% 95.2941%;
  --sidebar-foreground: 205.7143 13.2075% 10.3922%;
  --sidebar-primary: 343.9831 100% 46.2745%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 85.8182 100% 32.3529%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 60 14.7541% 88.0392%;
  --sidebar-ring: 343.7186 100% 39.0196%;
  --font-sans: Roboto, sans-serif;
  --font-serif: Roboto, sans-serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.75rem;
  --shadow-2xs: 2px 2px 5.5px 0px hsl(255 86% 66% / 0.03);
  --shadow-xs: 2px 2px 5.5px 0px hsl(255 86% 66% / 0.03);
  --shadow-sm: 2px 2px 5.5px 0px hsl(255 86% 66% / 0.05), 2px 1px 2px -1px hsl(255 86% 66% / 0.05);
  --shadow: 2px 2px 5.5px 0px hsl(255 86% 66% / 0.05), 2px 1px 2px -1px hsl(255 86% 66% / 0.05);
  --shadow-md: 2px 2px 5.5px 0px hsl(255 86% 66% / 0.05), 2px 2px 4px -1px hsl(255 86% 66% / 0.05);
  --shadow-lg: 2px 2px 5.5px 0px hsl(255 86% 66% / 0.05), 2px 4px 6px -1px hsl(255 86% 66% / 0.05);
  --shadow-xl: 2px 2px 5.5px 0px hsl(255 86% 66% / 0.05), 2px 8px 10px -1px hsl(255 86% 66% / 0.05);
  --shadow-2xl: 2px 2px 5.5px 0px hsl(255 86% 66% / 0.13);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: 210 37.5000% 3.1373%;
  --foreground: 60 13.0435% 95.4902%;
  --card: 207.2727 31.4286% 6.8627%;
  --card-foreground: 60 13.0435% 95.4902%;
  --popover: 207.2727 31.4286% 6.8627%;
  --popover-foreground: 60 13.0435% 95.4902%;
  --primary: 345.3617 100.7698% 56.3986%;
  --primary-foreground: 355.5556 100.0000% 94.7059%;
  --secondary: 189.5890 100% 42.9412%;
  --secondary-foreground: 183.1579 100% 96.2745%;
  --muted: 205.0000 22.2222% 10.5882%;
  --muted-foreground: 60 4.0650% 75.8824%;
  --accent: 84.0580 100% 40.5882%;
  --accent-foreground: 78.2609 92.0000% 95.0980%;
  --destructive: 349.6154 100% 69.4118%;
  --destructive-foreground: 60 13.0435% 95.4902%;
  --border: 205.7143 17.0732% 16.0784%;
  --input: 205.7143 17.0732% 16.0784%;
  --ring: 354.1538 100% 61.7647%;
  --chart-1: 345.4709 100% 56.2745%;
  --chart-2: 189.5890 100% 42.9412%;
  --chart-3: 84.0580 100% 40.5882%;
  --chart-4: 36.3780 100% 49.8039%;
  --chart-5: 235.4198 100% 74.3137%;
  --sidebar: 206.6667 47.3684% 3.7255%;
  --sidebar-foreground: 60 13.0435% 95.4902%;
  --sidebar-primary: 345.4709 100% 56.2745%;
  --sidebar-primary-foreground: 206.6667 47.3684% 3.7255%;
  --sidebar-accent: 84.0580 100% 40.5882%;
  --sidebar-accent-foreground: 206.6667 47.3684% 3.7255%;
  --sidebar-border: 205.7143 17.0732% 16.0784%;
  --sidebar-ring: 343.9831 100% 46.2745%;
  --font-sans: Roboto, sans-serif;
  --font-serif: Roboto, sans-serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.75rem;
  --shadow-2xs: 2px 2px 5.5px 0px hsl(247.8798 68.2873% 51.0713% / 0.03);
  --shadow-xs: 2px 2px 5.5px 0px hsl(247.8798 68.2873% 51.0713% / 0.03);
  --shadow-sm: 2px 2px 5.5px 0px hsl(247.8798 68.2873% 51.0713% / 0.05), 2px 1px 2px -1px hsl(247.8798 68.2873% 51.0713% / 0.05);
  --shadow: 2px 2px 5.5px 0px hsl(247.8798 68.2873% 51.0713% / 0.05), 2px 1px 2px -1px hsl(247.8798 68.2873% 51.0713% / 0.05);
  --shadow-md: 2px 2px 5.5px 0px hsl(247.8798 68.2873% 51.0713% / 0.05), 2px 2px 4px -1px hsl(247.8798 68.2873% 51.0713% / 0.05);
  --shadow-lg: 2px 2px 5.5px 0px hsl(247.8798 68.2873% 51.0713% / 0.05), 2px 4px 6px -1px hsl(247.8798 68.2873% 51.0713% / 0.05);
  --shadow-xl: 2px 2px 5.5px 0px hsl(247.8798 68.2873% 51.0713% / 0.05), 2px 8px 10px -1px hsl(247.8798 68.2873% 51.0713% / 0.05);
  --shadow-2xl: 2px 2px 5.5px 0px hsl(247.8798 68.2873% 51.0713% / 0.13);
}

body {
  letter-spacing: var(--tracking-normal);
}